<div class="content" role="main">

    <h1 style="margin-top: -35%">
        Enlazar dispositivo
    </h1>
    <ul>
        <li>
            Selecciona el reloj o dispositivo con el que puedas medir tu pulso cardiaco
        </li>
        <li>
            Recuerda encender el Bluethooth en ambos tu celular y dispositivo
        </li>
    </ul>

    <h1 style="margin-top: 20%; text-align:center">
      Dispositivos Encontrados
  </h1>

    <app-list-element content="Dispositivo 1" style="margin-top: 10%"></app-list-element>
    <app-list-element content="Dispositivo 2" style="margin-top: 10%"></app-list-element>

    <app-basic-button buttonLink="/listadoalarmas" buttontext="Finalizar" style="margin-top: 70%"></app-basic-button>
</div>
