<div class="content" role="main">

    <h1 style="margin-top: -10%;">
        Iniciar Sesion
    </h1>

    <app-input-field fieldname="Correo" style="margin-top: 10%;"></app-input-field>
    <app-input-field fieldname="Contraseña" style="margin-top: 10%;"></app-input-field>

    <app-basic-button buttonLink="/listadoalarmas" buttontext="Siguiente" style="margin-top: 25%;"></app-basic-button>
    <app-basic-button buttonLink="/crearcuenta" buttontext="Crear cuenta" style="margin-top: 10%;"></app-basic-button>
</div>
