<div class="content" role="main">
    <h1 style="margin-top: -10%" >
        Crear cuenta
    </h1>

    <app-input-field fieldname="Nombre" style="margin-top: 5%"></app-input-field>
    <app-input-field fieldname="Edad" style="margin-top: 3%"></app-input-field>
    <app-input-field fieldname="Correo" style="margin-top: 3%"></app-input-field>
    <app-input-field fieldname="Contraseña" style="margin-top: 3%"></app-input-field>
    <app-input-field fieldname="Confirmar Contraseña" style="margin-top: 3%"></app-input-field>

    <app-basic-button buttonLink="/listadoalarmas" buttontext="Siguiente" style="margin-top: 20%"></app-basic-button>
    <app-basic-button buttonLink="/iniciarsesion" buttontext="Iniciar sesion" style="margin-top: 5%"></app-basic-button>

</div>
