<div class="content" role="main">

    <h1 style="margin-top: -10%">
        Confirmar
    </h1>

    <mat-list class="maindays" style="margin-top: 20%;width:85%">
        <mat-list-item>Hora - &gt; 00:00</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Dias - &gt; L,MA,MI,J,V,S</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Pulsaciones - &gt; 70ppm</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Tiempo apagar - &gt; 1min</mat-list-item>
        <mat-divider></mat-divider>

    </mat-list>
    <div style="margin-top: 50%">
        <app-basic-button buttonLink="/listadoalarmas" buttontext="Guardar" style="margin-left: -4%"></app-basic-button>
        <app-basic-button buttonLink="/listadoalarmas" buttontext="Cancelar"style="margin-left: 2%"></app-basic-button>
        <app-basic-button buttonLink="/seleccionahora" buttontext="Borrar"style="margin-left: 2%"></app-basic-button>
    </div>
</div>
