<div class="content" role="main">
    <h1 style="margin-top:-15%">
        Configurar Datos Personales
    </h1>

    <app-input-field fieldname="Nombre" style="margin-top: 5%;"></app-input-field>
    <app-input-field fieldname="Edad" style="margin-top: 3%;"></app-input-field>
    <app-input-field fieldname="Correo" style="margin-top: 3%;"></app-input-field>
    <app-input-field fieldname="Contraseña" style="margin-top: 3%;"></app-input-field>
    <app-input-field fieldname="Confirmar Contraseña" style="margin-top: 3%;"></app-input-field>

    <app-basic-button buttonLink="/listadoalarmas" buttontext="Guardar" style="margin-top: 25%;"></app-basic-button>

</div>
